@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .container-custom {
    @apply flex h-screen font-sans bg-[#191414] text-[#B2B2B2];
  }

  .sidebar-custom {
    @apply w-[250px] h-full bg-black shadow-md p-5 overflow-y-auto fixed top-0 left-0 z-10;
  }

  .playlist-title {
    @apply text-sm font-bold mb-5 text-[#B2B2B2];
  }

  .list-item-custom {
    @apply cursor-pointer p-2 mb-2 bg-gray-700 rounded text-sm text-[#B2B2B2];
  }

  .content-custom {
    @apply flex flex-col items-center justify-center flex-1 p-5 ml-[250px];
  }

  .frame-text {
    @apply text-sm text-[#B2B2B2] mb-24;
  }

  .album-cover {
    @apply w-[200px] h-[200px] rounded-lg shadow-lg mb-24;
  }

  .track-title {
    @apply text-lg font-bold mb-1 text-[#B2B2B2];
  }

  .track-artist {
    @apply text-sm text-[#B2B2B2] mb-4;
  }

  .track-duration {
    @apply text-sm text-[#B2B2B2] border-t border-[#B2B2B2] w-[200px] mx-auto pt-1 mb-4;
  }

  .controls-container {
    @apply flex flex-row items-center;
  }

  .play-button {
    @apply w-[60px] h-[60px] rounded-full bg-green-500 flex items-center justify-center cursor-pointer mx-4;
  }
}


